//import font when our machine doesn't have it
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// variables, good for reused properties
:root {
    --primary-color: #007AF3;
}

body{
    background: #F2F2F2;
    margin: 0;
    font-family: "Poppins";
}

// period "." references to "class" HTML attribute
// padding = margin inside the element
// margin = margin outside the element

.navbar {
    background: white;
    padding: 1em;

    //Sass allows CSS to nest selectors ---ONLY SASS
    .logo {
        text-decoration: none; //removes the underline
        font-weight: bold;
        color: black;
        font-size: 1.2em; // "em" units is relative sizing = 1.2x bigger to original

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;  // dividing the content is boxes
        place-content: space-between;   // spacing the boxes
    }

    .mobile-menu {
        cursor: pointer; // the user can see it is clickable
    }
}

// all links now are always grey
a {
    color: #444444;
}

// remove bullet points from all ul, as well as default margin/padding
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}


.hero-section {
    text-align: center;

    .left-col {

        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: gray;
            letter-spacing: 0.2em;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.3em; // bigger vertical line space
            margin-top: 0.2em; // move up, closer to the top
        }

        .primary-cta {
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: 0.6em 1.3em; //top-bottom left-right padding
            font-size: 1.4em;
            border-radius: 5em; //round the borders
            display: inline-block;
        }

        .watch-video-cta {
            display: block; //put in a separate line (below)
            margin-top: 1em;

            img {
                margin-right: 0.5em;
            }
        }
    }

    .hero-img {
        width: 70%;
        margin-top: 3em;
    }
}

.features-section {
    background: #20272e;
    color: white;
    

    .features-list {
        margin: 0;
        padding-left: 0.1em;
        //
        display: grid;
        grid-template-columns: repeat(auto-fit, minmanx(19rem, 1fr));

        li {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;  //to show the checkmark

            //checkmark in CSS
            &:before {
                content: '';
                left: -2em;   // moving the checkmark to the left
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../images/bullet.svg');
                background-size: contain;
                margin-right: 0.5em;
            }
        }
    }
}

.features-section img {
    display: none;
}

.testemonials-section {
    background-color: var(--primary-color);
    color: white;

    li {
        background-color: #006bd6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin-bottom: 5em;
        border-radius: 1em;

        img {
            width: 5em;
            height: 5em;
            border: 5px solid --primary-color;
            border-radius: 50%; //makes the element circular
            margin-top: -4.5em;
        }
    }
}

h2 {
    font-size: 2em;
}

//labels below each other, instead of same row
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid grey;
    border-radius: 0.3em;
}

//alternative way of using the class .send-message-cta{}
input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;

    //making smaller and to the left
    display: inline-block;
    padding: 0.8em 2em;
    width: unset; //this way the size relies on padding, and not the default one
    cursor: pointer;
}

//originally it was too big, making a scroll to the side
iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999; //means the letters will stay on top of everything, not behind
    width: 66%;
    right: 0%;
    top: 0%;
    background: #20272e;
    height: 100vh; //means all the height of the browser (top to bottom)

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a {
            color: white;
            text-decoration: none;
            display: block; // need it in any <a> elements, to use padding/margin
            padding: 0.5em;
            font-size: 1.3em;
            text-align: right;

            //change color when hover (mouse on top). Bold
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right; // float = move element to the right
    margin: 0.5em;
    cursor: pointer;
}

/*
Until now, we made CSS for mobile.
Now, Making CSS Responsive
Its called "Media Query"

When we inspect the page, when we change its size we can see in top corner the "px"
In our case, we assume after 768px its enough space to show the nav bar items
*/

@media only screen and (min-width: 768px) {
    
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    
    /* display the items in nav and fix */
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto; //means 180px for the logo, and then take the rest of the space
    }

    .navbar nav {
        display: flex;
        justify-content: space-between; // separating the 2 different nav item groups
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0%;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: 0.1em 1em;
        }

        ul.primary-nav {
            margin: 0%;  //that nav was below, now its up to the top. Fixed.
        }

        //making the Home button bold
        li.current a {
            font-weight: bold;
        }

        //styling the Premium button
        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;  //pushing the item up, a little bit

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {

    //one way to center the containers
    .container{
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em
    }

    .hero-section .container {
        display: flex; //puts the 2 divs side by side (left-col and right)
        justify-content: space-between;
        text-align: left;
    }

    .left-col {
        margin: 3em 3em 0 5em;

        h1 {
            font-size: 3em;
            width: 90%;
        }
    }

    //making the image smaller
    .hero-img {
        width: 30%;
        margin-right: 8em;
    }

    //making the 2 CTA's side by side
    .hero-cta {
        display: flex;
    }

    .primary-cta {
        margin-right: 1em;
    }

    ul.features-list {
        display: block;  //putting them on top of each other
        margin-left: 5em;

        li {
            font-size: 1.4em;

            &::before {
                width: 30x;
                height: 30px;
            }
        }
    }

    //adding the image
    .features-section {
        position: relative
    }
    .features-section img {
        display: block;
        position: absolute;
        right: 0;
        width: 350px;
        bottom: -2em;
    }

    .testemonials-section ul {
        display: flex; //putting side by side

        li {
            margin: 0 1em; //spacing each testimonial 
        }
    }

    .contact-section {
        position: relative;

        .container {
            display: flex;
        }
    }

    .contact-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;

        iframe {
            height: 100%;
        }
    }
}


//to add the design stuff in the features section

@media only screen and (min-width: 1450px) {
    
    .features-section {
        //blue ractangle
        &::before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        //dots
        &::after {
            content: '';
            position: absolute;
            width: 200%;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}
